# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  pull_request:
    branches: [ "main" ]

permissions: {}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: build
        run: |
          set -x
          go build -v ./...

      - name: test
        run: |
          set -x
          go test -v -cover ./...
