# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  pull_request:
    branches: [ "main" ]

permissions: {}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: build
        run: |
          set -x
          go build -v ./...

      - name: test
        run: |
          set -x
          go test -v -cover ./...
